@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&family=Quicksand&family=Rubik:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3A2416;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}
.bg-color-1
{
  background-color: #EC9D45 !important;
}
.text-1
{
  color: #ffffff !important;
  font-weight: bold !important;
  text-align: center;
}
.text-2
{
  color: #3A2416 !important;
  font-weight: bolder !important;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 7rem;
}

.icon-color-1
{
  color: #3A2416;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet-specific CSS rules go here */
  .text-2 {
    font-size: 4rem; /* Adjust font size for smaller screens */
}
.text-1 {
    font-size: 1rem; /* Adjust font size for smaller screens */
}
}


/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .text-2 {
      font-size: 4rem; /* Adjust font size for smaller screens */
  }
  .text-1 {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 576px) {
  .text-1{
      font-size: 0.5rem; /* Adjust font size for even smaller screens */
  }
  .text-2{
      font-size: 2rem; /* Adjust font size for even smaller screens */
  }
}
